<!DOCTYPE html>
<html>
<head>
  <title>Railsdictionary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 id='text'><%= image_tag("logo.png", height: '75', width: '75')%>Space Jargon</h1>
     <nav class="navbar navbar-default navbar" role="navigation">
     <div class="container-fluid">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>
       <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <li><%= link_to "Login",  new_user_session_path %></li>
           <li><%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: 'Back to Earth?' } %></li>
           <li><%= link_to "Random Space Tongue",  new_user_session_path %></li>
           <%= yield :more_links %>
         </ul>
          <%= form_tag search_definitions_path, method: :get, class: "navbar-form navbar-left" %>
         <!-- <form class="navbar-form navbar-left" role="search" action="search_definitions_path" method="get"> -->
           <div class="form-group">
             <input type="text" name=':search' class="form-control" placeholder="Search">
           </div>
           <button type="submit" class="btn btn-default">Submit</button>
         </form>
       </div><!-- /.navbar-collapse -->
     </div><!-- /.container-fluid -->
   </nav>
  </header>

  <%= yield %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</body>
</html>
